{% include 'includes/navbar.html.twig' %}

{% block title %}{{ produit.nom }}{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <img src="{{ asset('images/' ~ produit.image) }}" class="img-fluid" alt="{{ produit.nom }}">
            </div>
            <div class="col-md-6">
                <h1>{{ produit.nom }}</h1>
                <p>{{ produit.description }}</p>
                <p><strong>Prix:</strong> {{ produit.prix }} €</p>
                <a href="{{ path('boutique') }}" class="btn btn-secondary">Retour à la boutique</a>
            </div>
        </div>
    </div>
{% endblock %}
{% include 'includes/footer.html.twig' %}
